/* course-details.component.css */
.course-details {
  max-width: 900px;
  margin: 0 auto;
  background-color: #f8f9fa; /* Couleur de fond légère pour le conteneur */
  border: 1px solid #dee2e6; /* Bordure légère pour le conteneur */
  border-radius: 8px; /* Bords arrondis pour le conteneur */
  padding: 20px; /* Espacement interne */
}

.course-details h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #007bff; /* Couleur bleue pour le titre du cours */
}

.course-details p.lead {
  font-size: 1.25rem;
  color: #6c757d; /* Couleur grise pour la description */
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #fff; /* Couleur de fond blanche pour les éléments de la liste */
  border: 1px solid #e9ecef; /* Bordure légère pour les éléments de la liste */
  border-radius: 4px; /* Bords arrondis pour les éléments de la liste */
  margin-bottom: 10px; /* Marge inférieure pour espacer les éléments */
}

.list-group-item:hover {
  background-color: #f1f3f5; /* Couleur de survol pour les éléments de la liste */
}

.list-group-item button {
  margin-left: 10px;
  background-color: #00ffdd; /* Couleur du bouton */
  border-color: #00eeff; /* Couleur de la bordure du bouton */
}

.list-group-item button:hover {
  background-color: #00b39e; /* Couleur de survol pour le bouton */
}

.alert-info {
  background-color: #e3f2fd; /* Couleur de fond légère pour les messages d'information */
  color: #0d47a1; /* Couleur du texte pour les messages d'information */
}

.alert-danger {
  background-color: #f8d7da; /* Couleur de fond légère pour les messages d'erreur */
  color: #721c24; /* Couleur du texte pour les messages d'erreur */
}
