<div class="container mt-5">
  <h2 class="mb-4 text-center">Dashboard</h2>

  <!-- Section pour afficher les informations de l'utilisateur -->
  <div class="card mb-4">
    <div class="card-body">
      <h3 class="card-title text-primary">User Information</h3>
      <p class="card-text"><strong>Name:</strong> {{ userName }}</p>
      <p class="card-text"><strong>Role:</strong> {{ userRole }}</p>
      <button class="btn btn-warning" (click)="editUser()">Edit</button>
    </div>
  </div>

  <!-- Section pour les étudiants -->
  <!-- <div *ngIf="userRole === 'Etudiant'" class="mb-4"> -->
    <h3 class="mb-3 text-primary">Tes cours :</h3>
    <!-- Intégration du composant Enrolledcourse -->
    <app-enrolledcourse [userId]="1"></app-enrolledcourse>

    <h3 class="mb-3 text-primary mt-4">Cours dans lesquels tu peux t'inscrire</h3>
    <ul class="list-group">
      <li *ngFor="let course of unenrolledCourses" class="list-group-item list-group-item-warning">
        <div class="d-flex justify-content-between align-items-center">
          <span>{{ course.Nom }} - {{ course.description }}</span>
          <button class="btn btn-primary btn-sm" (click)="showAssignments(course.id!)">Voir les Assignements</button>
        </div>
      </li>
    </ul>
  <!-- </div> -->

  <!-- Section pour les professeurs -->
  <!-- <div *ngIf="userRole === 'Professeur'" class="mb-4"> -->
    <h3 class="mb-3 text-success">Vos Cours</h3>
    <ul class="list-group">
      <li *ngFor="let course of courses" class="list-group-item list-group-item-success">
        <div class="d-flex justify-content-between align-items-center">
          <span>{{ course.Nom }}</span>
          <button class="btn btn-primary btn-sm" (click)="showAssignments(course.id!)">Voir les Assignements</button>
        </div>
      </li>
    </ul>
  <!-- </div> -->

  <!-- Section pour les administrateurs -->
  <!-- <div *ngIf="userRole === 'Admin'" class="mb-4"> -->
    <h3 class="mb-3 text-danger">All Courses</h3>
    <ul class="list-group">
      <li *ngFor="let course of allCoursesWithEnrollments" class="list-group-item list-group-item-danger">
        <div class="d-flex justify-content-between align-items-center">
          <span>{{ course.Nom }}</span>
          <button class="btn btn-primary btn-sm" (click)="showAssignments(course.id!)">Voir les Assignements</button>
        </div>
      </li>
    </ul>
  </div>
<!-- </div> -->
