<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username</label>
      <input id="username" formControlName="username" class="form-control" />
      <div *ngIf="forgotPasswordForm.get('username')?.invalid && forgotPasswordForm.get('username')?.touched">
        <small class="text-danger">Le pseudo est requis.</small>
      </div>
    </div>
  
    <div class="form-group">
      <label for="newPassword">New Password</label>
      <input id="newPassword" type="password" formControlName="newPassword" class="form-control" />
      <div *ngIf="forgotPasswordForm.get('newPassword')?.invalid && forgotPasswordForm.get('newPassword')?.touched">
        <small class="text-danger">Le mot de passe est requis et doit contenir au moins 6 caractères.</small>
      </div>
    </div>
  
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input id="confirmPassword" type="password" formControlName="confirmPassword" class="form-control" />
      <div *ngIf="forgotPasswordForm.hasError('mismatch') && forgotPasswordForm.get('confirmPassword')?.touched">
        <small class="text-danger">Les mots de passe ne correspondent pas.</small>
      </div>
    </div>
  
    <button type="submit" class="btn btn-primary" [disabled]="forgotPasswordForm.invalid">Reset Password</button>
  
    <!-- Message d'erreur -->
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
  
    <!-- Message de succès -->
    <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
  </form>
  