<div class="container mt-3">
    <h3 class="mb-3 text-primary">Vos cours inscrits :</h3>
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
    <ul class="list-group" *ngIf="courses.length > 0">
      <li *ngFor="let course of courses" class="list-group-item list-group-item-info">
        <div class="d-flex justify-content-between align-items-center">
          <span>{{ course.Nom }} - {{ course.description }}</span>
          <button class="btn btn-primary btn-sm" (click)="goToAssignements(course.id!)">
            Voir les Assignements
          </button>
        </div>
      </li>
    </ul>
    <p *ngIf="courses.length === 0 && !errorMessage" class="text-muted">Aucun cours trouvé.</p>
  </div>
