<div class="container mt-5">
  <h2 class="mb-4 text-center">Assignments and Grades</h2>

  <!-- Display assignments if available -->
  <div *ngIf="assignments.length > 0">
    <ul class="list-group">
      <li *ngFor="let assignment of assignments" class="list-group-item">
        <!-- Display course name and assignment description -->
        <h4>{{ getCourseName(assignment.coursId!) }} - {{ assignment.description }}</h4>
        <p>Description: {{ assignment.description }}</p>

        <!-- Display grades for the current assignment -->
        <h5>Grades:</h5>
        <ul class="list-group">
          <li *ngFor="let grade of grades[assignment.coursId!] || []" class="list-group-item">
            Grade: {{ grade.grade }}
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <!-- Display a message if no assignments are found -->
  <div *ngIf="assignments.length === 0">
    <p>No assignments found.</p>
  </div>

  <!-- Display error message if any -->
  <div *ngIf="errorMessage" class="alert alert-danger d-flex align-items-center">
    <i class="fas fa-exclamation-triangle me-2"></i>
    {{ errorMessage }}
  </div>
</div>
